body{
    background-color: rgb(16, 14, 29);
}
.principal{
    background-image: url("https://github.com/alogm/proyectofinal/blob/master/public/img/Cloud-background.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: rgb(30, 33, 58);
    width: 500px;
    height: 690px;
}
.gps{
    background-color: rgb(30, 33, 58);
    border: none;
    color: rgb(240, 234, 234);
}

.pag{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
.pag h1{
  font-family: 'Fuggles', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lora', serif;
font-size: 65px;
}
.pag h3{
  font-family: 'Fuggles', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lora', serif;
font-size: 28px;
}
.pag h5{
  font-size: 20px;
}
.pag img{
  width: 150px;
  height: auto;
}
.semana{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: flex-start; 
    position: absolute;
    top: 10px; 
    right: 20px; 
    left: 600px;
    width: auto;
    font-family: 'Fuggles', cursive;
    font-family: 'Gochi Hand', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lora', serif;
    font-size: 15px;
    
}

/* Estilo para las secciones internas */
.semana1, .semana9, .semana17, .semana25, .semana33, .semana2 {
    flex: 1; 
    color: aliceblue;
    background-color: rgb(30, 33, 58);
    padding: 10px;
    max-width: calc(20% - 36px); 
    height: 250px;
}
.semana1 img,
.semana9 img,
.semana17 img,
.semana25 img,
.semana33 img {
  width: 100px; 
  height: auto; 
  
}

.adi1, .adi2, .adi3, .adi4 {
    flex: 1;
    padding: 10px;
    max-width: calc(50% - 10px); /* Cambiado el ancho máximo para dos columnas en lugar de cuatro */
    background-color: rgb(30, 33, 58);
    color: aliceblue;
}

/* Estilo para el contenedor de adi1, adi2, adi3 y adi4 */
.adi-container {
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila para acomodar horizontalmente */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    right: 100px;
    width: auto;
    top: 390px;
    left: 600px;
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan en filas múltiples si es necesario */
}
.adi-container2 {
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila para acomodar horizontalmente */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    right: 100px;
    width: auto;
    top: 630px;
    left: 600px;
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan en filas múltiples si es necesario */

  }
  .today{
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila para acomodar horizontalmente */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    right: 100px;
    width: auto;
    top: 300px;
    left: 600px;
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan en filas múltiples si es necesario */
    color: white;

  }

  /* Estilo para la barra de progreso de humedad */
.humidity-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .humidity-fill {
    height: 90%;
    border-radius: 5px;
    background-color: #d0f308a5; /* Color de relleno de la barra */
    transition: width 0.5s ease-in-out;
  }
 
  .por{
    display: flex;
    justify-content: space-between;
    margin: -5px;
  }

  h4{
    
    display: inline-block;
    margin-right: 22px;
    margin-top: 40px;
  }
  
