body{
    background-color: rgb(16, 14, 29);
}
.principal{
    background-image: url("https://github.com/alogm/proyectofinal/blob/master/public/img/Cloud-background.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: rgb(30, 33, 58);
    width: 500px;
    height: 690px;
}
.gps{
    background-color: rgb(30, 33, 58);
    border: none;
    color: rgb(240, 234, 234);
}

.pag{
    display: block;
    margin: auto;
    text-align: center; /* Esto centrará el texto horizontalmente */
    color: white; /* Cambia el color del texto si es necesario */
    
}
.semana {
    display: flex;
    flex-direction: row; /* Cambia a dirección de fila para acomodar horizontalmente */
    flex-wrap: wrap; /* Permite que las secciones se envuelvan en filas múltiples si es necesario */
    justify-content: flex-start;
    align-items: flex-start; /* Alinea las secciones internas arriba */
    gap: 20px; /* Aumenta el espacio entre las secciones */
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde el lado derecho */
    
    left: 600px; /* Ajusta la distancia desde el lado izquierdo */
    width: auto;
    
}

/* Estilo para las secciones internas */
.semana1, .semana9, .semana17, .semana25, .semana33, .semana2 {
    flex: 1; /* Permite que ocupen el espacio disponible en la fila */
    color: aliceblue;
    background-color: rgb(30, 33, 58);
    padding: 10px;
    max-width: calc(20% - 10px); /* Ajusta el ancho máximo para cinco columnas con espacio entre ellas */
}
.semana1 img,
.semana2 img,
.semana3 img,
.semana4 img,
.semana5 img {
  width: 100px; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantén la relación de aspecto original */
  /* Puedes ajustar el valor de 'width' según tus necesidades */
}

/* Estilos adicionales para adi1, adi2, adi3 y adi4 */
.adi1, .adi2, .adi3, .adi4 {
    flex: 1;
    padding: 10px;
    max-width: calc(50% - 10px); /* Cambiado el ancho máximo para dos columnas en lugar de cuatro */
    background-color: rgb(30, 33, 58);
    color: aliceblue;
}

/* Estilo para el contenedor de adi1, adi2, adi3 y adi4 */
.adi-container {
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila para acomodar horizontalmente */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    right: 100px;
    width: auto;
    top: 390px;
    left: 600px;
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan en filas múltiples si es necesario */
}
.adi-container2 {
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila para acomodar horizontalmente */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    right: 100px;
    width: auto;
    top: 630px;
    left: 600px;
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan en filas múltiples si es necesario */

  }
  .today{
    display: flex;
    flex-direction: row; /* Cambiado a dirección de fila para acomodar horizontalmente */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    right: 100px;
    width: auto;
    top: 300px;
    left: 600px;
    flex-wrap: wrap; /* Permitir que las secciones se envuelvan en filas múltiples si es necesario */
    color: white;

  }

  /* Estilo para la barra de progreso de humedad */
.humidity-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .humidity-fill {
    height: 90%;
    border-radius: 5px;
    background-color: #d0f308a5; /* Color de relleno de la barra */
    transition: width 0.5s ease-in-out;
  }
 
  .por{
    display: flex;
    justify-content: space-between;
    margin: -5px;
  }
